html {
    background-color: #1d2d4f;
}

.main_div {
    display: flex;
    height: 99vh;
    width: 100vw;
}

body {
    display: flex;
    height: 10vh;
    width: 100%;
}

.left {
    height: 100%;
    width: 50%;
    align-content: center;
    justify-content: center;
}

.right {
    height: 100%;
    width: 50%;
}

p {
    color: #f8dbb6;
    font-size: 10px;
    margin: 10px 0px 0px 0px;
}

.right {
    background-image: url(../assets/img/right_img.png);
}

form {
    height: 20%;
    width: 50%;
}