.login_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
}

input,button {
    height: 40%;
    width: 75%;
}

input {
    background-color: #1d2d4f;
    border: 0.5px solid #f8dbb6;
    color: #f8dbb6;
}

body {
    display: flex;
    height: 10vh;
    width: 100%;
}

p {
    color: #f8dbb6;
    font-size: 10px;
    margin: 10px 0px 0px 0px;
}

button {
    background-color: #f8dbb6;
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: #1d2d4f;
    text-transform: uppercase;
    font-weight: bold;
}

form {
    height: 20%;
    width: 50%;
}

.alert {
    color: red;
}

.form-control.ng-invalid.ng-dirty.ng-touched {
    border: 1px solid red;
}